@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    /* background-color: #b892ff; */
    background-image: linear-gradient(#b892ff, #ae00ff);
    width: 98;
    height: 97.8vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.5);
}

.container-form {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0px auto 10px auto;
}

label {
    margin-bottom: 5px;
}

input[type='text'], input[type='number'] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type='submit'] {
    padding: 10px 20px;
    background-color: #ae00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: #8800c7;
}

.container-lista {
    width: 100%;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #ae00ff;
    color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.btn-produto-add {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #04b112;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-produto-add:hover {
    background-color: #039710;
}